In [1]:
import os

import pandas as pd

# QRELS

## Read qrels

### Relevance

In [41]:
rel_path = os.path.join(os.getcwd(), "downloads/touche-task2-2022-relevance.qrels")

df_rel = pd.read_csv(rel_path, sep=" ", names=["qid", "0", "doc", "rel"])
df_rel.head()

   qid  0                              doc  rel
0   12  0    clueweb12-0002wb-18-34442___2    0
1   12  0  clueweb12-0004wb-69-30215___112    0
2   12  0    clueweb12-0004wb-78-20304___1    1
3   12  0   clueweb12-0004wb-78-20304___11    2
4   12  0    clueweb12-0008wb-62-05967___1    0

### Quality

In [42]:
qual_path = os.path.join(os.getcwd(), "downloads/touche-task2-2022-quality.qrels")

df_qual = pd.read_csv(rel_path, sep=" ", names=["qid", "0", "doc", "qual"])
df_qual.head()

   qid  0                              doc  qual
0   12  0    clueweb12-0002wb-18-34442___2     0
1   12  0  clueweb12-0004wb-69-30215___112     0
2   12  0    clueweb12-0004wb-78-20304___1     1
3   12  0   clueweb12-0004wb-78-20304___11     2
4   12  0    clueweb12-0008wb-62-05967___1     0

### Stance

In [36]:
stance_path = os.path.join(os.getcwd(), "downloads/touche-task2-2022-stance.qrels")

df_stance = pd.read_csv(stance_path, sep=" ", names=["qid", "0", "doc", "score"])
df_stance.head()

   qid  0                              doc    score
0   12  0    clueweb12-0002wb-18-34442___2       NO
1   12  0  clueweb12-0004wb-69-30215___112       NO
2   12  0    clueweb12-0004wb-78-20304___1   SECOND
3   12  0   clueweb12-0004wb-78-20304___11  NEUTRAL
4   12  0    clueweb12-0008wb-62-05967___1       NO

## Join Dataframes

In [47]:
join_cols = on=["qid", "0", "doc"]
df_all = df_rel.merge(df_qual, how="inner", on=join_cols).merge(df_stance, how="inner", on=join_cols)

df_all.head()

   qid  0                              doc  rel  qual    score
0   12  0    clueweb12-0002wb-18-34442___2    0     0       NO
1   12  0  clueweb12-0004wb-69-30215___112    0     0       NO
2   12  0    clueweb12-0004wb-78-20304___1    1     1   SECOND
3   12  0   clueweb12-0004wb-78-20304___11    2     2  NEUTRAL
4   12  0    clueweb12-0008wb-62-05967___1    0     0       NO

## Load passages

In [ ]:
psg_path = os.path.join(os.getcwd(), "downloads/touche-task2-passages-version-002-expanded-with-doc-t5-query.jsonl")

df_psg = pd.read_json(psg_path, lines=True)
df_psg.head()